  <aside class="back-to-admin">
    <a href="/admin"><i class="fa-solid fa-arrow-right-from-bracket"></i> Annuler</a>
  </aside>
  <form action="" class="card-publish" method="post">
    <h2 class="home-publication-new">Publier quelque chose</h2>

    <label for="title">Titre :</label>
    <input id="title" name="title" type="text" placeholder="Titre" />

    <label for="content">Message :</label>
    <textarea
      id="content"
      name="content"
      type="text"
      placeholder="Votre message"
    ></textarea>

    <label for="author">Auteur :</label>
    <select name="author" id="author">
      <% author.forEach(author => { %>
      <option value="<%=author.Id %>">
        <%= author.FirstName %> <%= author.LastName %>
      </option>
      <% }) %>
    </select>

    <label for="category">Catégorie :</label>
    <select name="category" id="category">
      <% category.forEach(category => { %>
      <option value="<%=category.Id %>"><%= category.Name %></option>
      <% }) %>
    </select>

    <input type="submit" value="Publier" />
  </form>
