<header class="blog-header">
    <h1>Venez avec des cookies !</h1>
    <nav>
        <a href="/">home</a>
        <a href="/admin">admin</a>
    </nav>
</header>
<main>
    <aside>
        <a href="/admin/post">créer une publication</a>
    </aside>
    <section>
        <% dataAdmin.forEach(post => { 
            %>
                <article class="single-post">
                    <aside class="single-post_header">
                        <img alt="Avatar de l'auteur de la publication" src="<%= post.Avatar %>" />
                        <div>
                            <p><span><%- post.FirstName %> <%- post.LastName %></span></p>
                            <p class="font14"><%- post.CreationTimestamp.toLocaleDateString() %></p>
                        </div>
                    </aside>

                    <h3 class="single-post_title"><a href="/post/<%= post.Id %>"><%= post.Title %></a></h3>
                    <div class="single-post_body">
                        <p><%- post.Contents %></p>
                        <p><a href="/admin/edit/<%= post.Id %>"><i class="fa-solid fa-pen-to-square"></i> Editer</a></p>
                        <p><a href="/admin/delete/<%= post.Id %>"><i class="fa-solid fa-circle-minus"></i> Supprimer</a></p>
                    </div>
                </article>
            <% 
        }) %>
    </section>
</main>
<footer class="blog-footer">
  <p>Le blog qui tue la mouche !</p>
  <p>
    Coded with <i class="fa-solid fa-heart fa-lg"></i> by Ony Lalaina Valérie
  </p>
</footer>