    <aside class="create-post">
        <a href="/admin/post"><i class="fa-solid fa-pencil"></i> Créer une publication</a>
    </aside>
    <section>
        <% dataAdmin.forEach(post => { 
            %>
                <article class="single-post">
                    <aside class="single-post_header">
                        <img alt="Avatar de l'auteur de la publication" src="<%= post.Avatar %>" />
                        <div>
                            <p><span><%- post.FirstName %> <%- post.LastName %></span></p>
                            <p class="font14"><%- post.CreationTimestamp.toLocaleDateString() %></p>
                        </div>
                    </aside>

                    <aside class="container-post">
                        <div class="container-post_txt">
                            <h3 class="single-post_title"><a href="/post/<%= post.Id %>"><%= post.Title %></a></h3>
                            <p class="single-post_content"><%- post.Contents %></p>
                        </div>
                        <div class="admin-edit-remove">
                            <p><a href="/admin/edit/<%= post.Id %>" class="edit"><i class="fa-solid fa-pen-to-square"></i> Editer</a></p>
                            <p><a href="/admin/delete/<%= post.Id %>" class="remove"><i class="fa-solid fa-circle-minus"></i> Supprimer</a></p>
                        </div>
                    </aside>

                </article>
            <% 
        }) %>
    </section>
