    <h2 class="txt-center home-publication-list">Les dernières publications</h2>
    <section>
        <% data.forEach(post => { 
            %>
                <article class="single-post">
                    <aside class="single-post_header">
                        <img alt="Avatar de l'auteur de la publication" src="<%= post.Avatar %>" />
                        <div>
                            <p><span><%- post.FirstName %> <%- post.LastName %></span></p>
                            <p class="font14"><%- post.CreationTimestamp.toLocaleDateString() %></p>
                        </div>
                    </aside>

                    <aside class="container-post">
                        <div class="container-post_txt_home">
                            <h3 class="single-post_title"><a href="/post/<%= post.Id %>"><%= post.Title %></a></h3>
                            <p class="single-post_content"><%- post.Contents %></p>
                        </div>
                        <div class="admin-edit-remove">
                            <p><a href="/post/<%= post.Id %>"><i class="fa-solid fa-comments fa-2x"></i></a></p>
                        </div>
                    </aside>
                </article>
            <% 
        }) %>
    </section>

