    <aside class="back-to-home">
        <a href="/"><i class="fa-solid fa-arrow-left"></i> Retour à la page d'accueil</a>
    </aside>
    <section>
        <% 
            dataPost.forEach(post => {
                %>
                    <article class="single-post">
                        <aside class="single-post_header">
                            <img alt="Avatar de l'auteur de la publication" src="<%= post.Avatar %>" />
                            <div>
                                <p><span><%- post.FirstName %> <%- post.LastName %></span></p>
                                <p class="font14"><%- post.CreationTimestamp.toLocaleDateString() %></p>
                            </div>
                        </aside>

                        <aside class="container-post">
                            <div class="container-post_txt">
                                <h3 class="single-post_title"><%= post.Title %></a></h3>
                                <p class="single-post_content"><%- post.Contents %></p>
                            </div>
                    </aside>
                    </article>
                <%
            })
        %> 
    </section>

    <div class="divider"></div>

    <section>
        <%
            dataComments.forEach(comment => {
                %>
                    <article class="comments">
                        <aside>
                            <h3><%- comment.NickName %></h3>
                            <p class="font14"><%- comment.CreationTimestamp.toLocaleDateString() %></p>
                        </aside>
                        <p><%- comment.message %></p>
                    </article>
                <%
            })
        %>    
    </section>